@page "/sanctuary"

<AuthorizeView>
    <Authorized>
        <h1>Sanctuary for @context.User.Identity?.Name!</h1>
    </Authorized>
    <NotAuthorized>
        <RedirectToLogin />
    </NotAuthorized>
</AuthorizeView>

@code {
    [Parameter]
    public string PetRockId { get; set; }
    [Parameter]
    public string VariantId { get; set; }
}
