.hover-card {
    max-height: 100%;
    overflow: hidden;
    color: white;
    text-align: center;
}

    .hover-card .card-img-top {
        max-height: 40vh;
        object-fit: cover
    }

    .hover-card .card-img-overlay {
        text-shadow: 0 0 4px rgba(0,0,0,0.4);
    }

    .hover-card .card-img-overlay-hover {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #121212;
        width: 100%;
        height: 0;
        transition: .5s ease;
    }

    .hover-card:hover .card-img-overlay-hover {
        height: 100%;
    }

.browse-button {
    color: #121212;
    background-color: white
}
