@inject ISyncSessionStorageService _sessionStorage
@inject NavigationManager _navigationManager

<div class="auth-view">
    <SanctuaryDisplay></SanctuaryDisplay>
    <AuthorizeView>
        <Authorized>
            <button class="nav-link btn btn-link logout" @onclick="BeginLogOut">Log out</button>
        </Authorized>
        <NotAuthorized>
            <button class="nav-link btn btn-link login" @onclick="BeginLogin">Log in</button>
        </NotAuthorized>
    </AuthorizeView>
</div>

@code{
    public void BeginLogOut()
    {
        _navigationManager.NavigateToLogout("authentication/logout");
    }

    public void BeginLogin()
    {
        _sessionStorage.SetItem(AuthenticationConstants.ReturnUrlStorageKey, _navigationManager.ToBaseRelativePath(_navigationManager.Uri));
        _navigationManager.NavigateTo($"authentication/login");
    }
}
