@inject CartService _cartService
@inject NavigationManager _navManager

<button class="btn btn-primary btn-block" @onclick="AddToCart">
    <Icon Name="IconName.CartPlus" Margin="Margin.Is3.FromEnd" />Add To Cart
</button>
<button class="btn btn-success btn-block" @onclick="BuyNow">
    <Icon Name="IconName.ArrowRight" Margin="Margin.Is3.FromEnd" />Buy Now
</button>

@code {

    [Parameter]
    public string ProductId { get; set; }

    [Parameter]
    public string ProductVariantId { get; set; }

    [Parameter]
    public Action OnCartAddedToBasket { get; set; }

    private void AddToCart()
    {
        _cartService.AddProductVariantToCart(ProductId, ProductVariantId);
        OnCartAddedToBasket.Invoke();
    }

    private void BuyNow()
    {
        _cartService.AddProductVariantToCart(ProductId, ProductVariantId);
        _navManager.NavigateTo("cart");
    }
}
