@implements IDisposable

@inject CartService _cartService

<a href="cart" class="shopping-cart">
    <i class="fas fa-shopping-cart mr-3"></i>
    <b>@_cartMonitor?.CartSize</b>
</a>

@code {
    private CartMonitor _cartMonitor;

    protected override void OnInitialized()
    {
        _cartMonitor = new CartMonitor();
        _cartMonitor.Subscribe(_cartService, Refresh);
    }

    public void Refresh()
    {
        StateHasChanged();
    }

    public void Dispose()
    {
        _cartMonitor.Unsubscribe();
    }
}
