@inject CartService _cartService
@inject NavigationManager _navManager

<button class="btn btn-primary btn-block" @onclick="AddToCart">
    <i class="fas fa-cart-plus mr-3" />Add To Cart
</button>
<button class="btn btn-success btn-block" @onclick="BuyNow">
    <i class="fas fa-arrow-right mr-3" />Buy Now
</button>

@code {

    [Parameter]
    public string ProductId { get; set; }

    [Parameter]
    public string ProductVariantId { get; set; }

    [Parameter]
    public Action OnCartAddedToBasket { get; set; }

    private void AddToCart()
    {
        _cartService.AddProductVariantToCart(ProductId, ProductVariantId);
        OnCartAddedToBasket.Invoke();
    }

    private void BuyNow()
    {
        _cartService.AddProductVariantToCart(ProductId, ProductVariantId);
        _navManager.NavigateTo("cart");
    }
}
