@page "/"

@inject ProductService ProductService

<div class="content px-4">
    @if (products != null)
    {
        <div class="row">
            @foreach (var product in products)
            {
                <div class="col-md-6" style="max-height: 50vh">
                    <ProductInformationCard ProductId="@product.Id"></ProductInformationCard>
                </div>
            }
        </div>
    }
</div>

@code {
    private List<Product> products;

    protected override async Task OnInitializedAsync()
    {
        products = await ProductService.GetProducts();
    }
}
