@inject PricingService PricingService
@inject CurrencyService CurrencyService

@if(Price != null)
{
    <h5>@GetFormattedAmount(Price.DealPriceGBP)</h5>
}

@code {
    [Parameter]
    public string ProductId { get; set; }
    [Parameter]
    public int ProductVariantId { get; set; }
    [Parameter]
    public string CurrencyCode { get; set; }

    private string CurrencySymbol { get; set; }
    private Price Price { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        CurrencySymbol = CurrencyService.GetCurrencyCharacter(CurrencyCode);

        Price = await PricingService.GetPriceByProductTypeId(ProductVariantId);
    }

    private string GetFormattedAmount(decimal amount) => $"{CurrencySymbol}{amount:0.00} {CurrencyCode}";
}
