@inject PricingService _pricingService
@inject CurrencyService _currencyService

<p>
    @TotalType:
    @if (FullTotalPrice > DealTotalPrice)
    {
        <span class="total-span">@GetFormattedAmount(FullTotalPrice)</span>
    }
    <b>@GetFormattedAmount(DealTotalPrice)</b>
</p>

@code {
    [Parameter]
    public string TotalType { get; set; }
    [Parameter]
    public List<(string productId, string productVarientId, int quantity)> ProductVariantIdAndQuantities { get; set; }
    [Parameter]
    public string CurrencyCode { get; set; }

    private string CurrencySymbol { get; set; }
    private decimal FullTotalPrice { get; set; }
    private decimal DealTotalPrice { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        CurrencySymbol = _currencyService.GetCurrencyCharacter(CurrencyCode);

        if (ProductVariantIdAndQuantities == null)
        {
            return;
        }

        FullTotalPrice = 0m;
        DealTotalPrice = 0m;
        foreach (var productVariantIdAndQuantity in ProductVariantIdAndQuantities)
        {
            var price = await _pricingService.GetPriceByProductTypeId(productVariantIdAndQuantity.productVarientId);
            FullTotalPrice += price.FullPriceGBP * productVariantIdAndQuantity.quantity;
            DealTotalPrice += price.DealPriceGBP * productVariantIdAndQuantity.Item3;
        }
    }

    private string GetFormattedAmount(decimal amount) => $"{CurrencySymbol}{amount:0.00} {CurrencyCode}";
}
