.top-row {
    height: 3.5rem;
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    flex: 1;
    background-color: var(--slate-blue);
    border-bottom: 1px solid #d6d5d5;
    justify-content: left;
}

.main {
    flex: 1;
    margin-top: 3.5rem;
    overflow: scroll;
    width: 100%;
    overflow-x: hidden;
}

.content {
    margin-top: 4rem;
}

.top-row > a, .main .top-row .btn-link {
    white-space: nowrap;
    margin-left: 1.5rem;
}

.top-row a:first-child {
    overflow: hidden;
    text-overflow: ellipsis;
}

.end-items {
    position: absolute;
    right: 0;
    font-size: large;
    display: flex;
    max-width: calc(100% - 200px);
}

.companyname {
    height: 100%;
    color: white;
    cursor: pointer;
}

.companyname-img {
    height: 100%;
    vertical-align: sub;
}

.companyname-header {
    display: inline-block;
}

.username {
    color: white;
    margin: auto;
}

::deep .btn-primary {
    color: #fff;
    background-color: var(--slate-blue);
    border-color: var(--slate-blue);
}
