@inherits LayoutComponentBase

@inject NavigationManager _navigationManager

<div class="top-row pl-4 navbar navbar-light">
    <h2 class="companyname" @onclick="NavigateHome">Rock Pal</h2>
    <ShoppingBasketSummary></ShoppingBasketSummary>
</div>

<div class="main">
    @Body
</div>

@code {
    private void NavigateHome()
    {
        _navigationManager.NavigateTo("/");
    }
}
