.petrock-image-container {
    max-height: 500px;
    overflow: hidden
}

.petrock-image-img {
    width: 100%;
    object-fit: cover
}

h5.attribute-heading {
    padding-top: 1rem;
}

.btn-adopt-now {
    color: white;
    background-color: var(--sandstone-beige);
    border-color: var(--sandstone-beige);
}

.input-name{
    padding-bottom: 16px;
}
