@page "/adopt/{AdoptableRockId}/{VariantId}"

<AuthorizeView>
    <Authorized>
        <h1>Hello, @context.User.Identity?.Name!</h1>
        @AdoptableRockId
        @VariantId
    </Authorized>
    <NotAuthorized>
        <RedirectToLogin />
    </NotAuthorized>
</AuthorizeView>

@code {
    [Parameter]
    public string AdoptableRockId { get; set; }
    [Parameter]
    public string VariantId { get; set; }
}
