@inject ProductInformationService ProductInformationService

<Tooltip Text="@_productInformation.Description1">
    <a href="products/@ProductId">@_productInformation.Name</a>
</Tooltip>

@code {
    [Parameter]
    public string ProductId { get; set; }

    private ProductInformation _productInformation;

    protected override async Task OnParametersSetAsync()
    {
        _productInformation = await ProductInformationService.GetProductInformationById(ProductId);
    }
}
