@using Company.Contract
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>Adoption Certificate</title>

    <style>
        .certificate-box {
            max-width: 800px;
            margin: auto;
            padding: 30px;
            border: 1pc solid #eee;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
            font-size: 16px;
            line-height: 24px;
            font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
            color: #555;
        }

        .certificate-box table {
            width: 100%;
            line-height: inherit;
            text-align: left;
        }

        .certificate-box table td {
            padding: 5px;
            vertical-align: top;
        }

        .certificate-box table tr td:nth-child(2) {
            text-align: right;
        }

        .certificate-box table tr.top table td {
            padding-bottom: 20px;
        }

        .certificate-box table tr.top table td.title {
            font-size: 45px;
            line-height: 45px;
            color: #333;
        }

        .certificate-box table tr.information table td {
            padding-bottom: 40px;
        }

        .certificate-box table tr.heading td {
            background: #eee;
            border-bottom: 1px solid #ddd;
            font-weight: bold;
        }

        .certificate-box table tr.details td {
            padding-bottom: 20px;
        }

        .certificate-box table tr.item td {
            border-bottom: 1px solid #eee;
        }

        .certificate-box table tr.item.last td {
            border-bottom: none;
        }

        .certificate-box table tr.title td:nth-child(2) {
            border-top: 2px solid #eee;
            font-weight: bold;
        }

        @@media only screen and (max-width: 600px) {
            .certificate-box table tr.top table td {
                width: 100%;
                display: block;
                text-align: center;
            }

            .certificate-box table tr.information table td {
                width: 100%;
                display: block;
                text-align: center;
            }
        }

        /*  RTL  */
        .certificate-box.rtl {
            direction: rtl;
            font-family: Tahoma, 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
        }

        .certificate-box.rtl table {
            text-align: right;
        }

        .certificate-box.rtl table tr td:nth-child(2) {
            text-align: left;
        }
    </style>
</head>

<body>
<div class="certificate-box">
    <table cellpadding="0" cellspacing="0">
        <tr class="top">
            <td colspan="2">
                <table>
                    <tr>
                        <td class="title">
                            <h1>RockPal</h1>
                        </td>
                        <td>
                            Official adoption certificate
                        </td>
                    </tr>
                </table>
            </td>
        </tr>

        <tr class="information">
            <td colspan="2">
                <table>
                    <tr>
                        <td class="title">
                            <h1>TODO</h1>
                        </td>
                        <td>
                            TODO
                        </td>
                    </tr>
                </table>
            </td>
        </tr>

        <tr class="heading">
            <td>Attribute</td>
            <td>Value</td>
        </tr>

        @for (var i = 0; i < PetRock.Attributes.Count; i++)
        {
            var attr = PetRock.Attributes.Keys.ToList()[i];
            var value = PetRock.Attributes[attr];
            <tr class="attribute @(i == PetRock.Attributes.Count - 1 ? "last" : string.Empty)">
                <td>@attr</td>
                <td>@value</td>
            </tr>
        }
    </table>
</div>
</body>
</html>

@code {
    [Parameter] public PetRock PetRock { get; set; }
}
