@inject ShoppingBasketService _shoppingBasketService
@inject NavigationManager _navManager

<button class="btn btn-primary btn-block" @onclick="AddToBasket">
    <i class="fas fa-cart-plus mr-3" />Add to basket
</button>
<button class="btn btn-success btn-block" @onclick="AdoptNow">
    <i class="fas fa-arrow-right mr-3" />Adopt now!
</button>

@code {

    [Parameter]
    public string PetRockId { get; set; }

    [Parameter]
    public string PetRockVariantId { get; set; }

    [Parameter]
    public Action OnPetRockAddedToBasket { get; set; }

    private void AddToBasket()
    {
        _shoppingBasketService.AddPetRockVariantToBasket(PetRockId, PetRockVariantId);
        OnPetRockAddedToBasket.Invoke();
    }

    private void AdoptNow()
    {
        _shoppingBasketService.AddPetRockVariantToBasket(PetRockId, PetRockVariantId);
        _navManager.NavigateTo("basket");
    }
}
