.btn-add-to-basket {
    color: white;
    background-color: var(--slate-blue);
    border-color: var(--slate-blue);
}

.btn-adopt-now {
    color: white;
    background-color: var(--sandstone-beige);
    border-color: var(--sandstone-beige);
}
