@inherits LayoutComponentBase

<div class="top-row pl-4 navbar navbar-light">
    <button class="sidebar-opener btn btn-primary" @onclick="OpenSidebar">
        <Icon Name="IconName.Bars" Margin="Margin.Is0.FromRight" />
    </button>
    <CartButton></CartButton>
</div>

<Sidebar @ref="_sidebar" Visible="@_isVisible">
    <MainSidebarContent />
</Sidebar>

<div class="main" style="opacity: @MainOpacity" @onclick="CloseNavbar">
    @Body
</div>

@code {
    private Sidebar _sidebar;

    private bool _isVisible = false;
    private string MainOpacity => _isVisible ? "0.5" : "1";

    private void OpenSidebar()
    {
        _isVisible = true;
    }

    private void CloseNavbar()
    {
        _isVisible = false;
    }
}
