.content {
    padding-top: 1.1rem;
}

.rockpal-card {
    max-height: 100%;
    overflow: hidden;
    color: var(--basalt-black);
    text-align: center;
    max-width: 18rem;
    top: 15px;
    margin-bottom: 15px;
}

.rockpal-card .card-img {
    max-height: 40vh;
    object-fit: cover
}

h1.look-after-header {
    padding-top: 1.5rem;
}
