@page "/"

@inject PetRockService PetRockService

<div class="content px-4">
    @if (petRocks != null)
    {
        <div class="card-deck">
            @foreach (var petRock in petRocks)
            {
                <PetRockCard PetRock="@petRock"></PetRockCard>
            }
        </div>
    }
</div>

@code {
    private List<PetRock> petRocks;

    protected override async Task OnInitializedAsync()
    {
        petRocks = await PetRockService.GetPetRocks();
    }
}
