@page "/"
@using Company.Contract;

@inject ProductService ProductService

<div class="content px-4">
    @if (products != null)
    {
        <CardDeck>
            @foreach (var product in products)
            {
                <ProductInformationCard ProductId="@product.Id"></ProductInformationCard>
            }
        </CardDeck>
    }
</div>

@code {
    private List<Product> products;

    protected override async Task OnInitializedAsync()
    {
        products = await ProductService.GetProducts();
    }
}
