@page "/"

@inject AdoptionService _adoptionService

<div class="content px-4">
    @if (petRocks != null)
    {
        <div class="card-deck">
            @foreach (var petRock in petRocks)
            {
                <AdoptableRockCard AdoptableRock="@petRock"></AdoptableRockCard>
            }
        </div>
    }
</div>

@code {
    private List<AdoptableRock> petRocks;

    protected override async Task OnInitializedAsync()
    {
        petRocks = await _adoptionService.GetAdoptableRocks();
    }
}
