@inject ProductVariantsService ProductVariantsService

<p>@FormatString(_productVariant.Index1) @FormatString(_productVariant.Index2) @FormatString(_productVariant.Index3)</p>

@code {
    [Parameter]
    public string ProductId { get; set; }

    [Parameter]
    public int ProductVariantId { get; set; }

    private ProductVariant _productVariant;

    private string FormatString(string stringToFormat) => string.IsNullOrEmpty(stringToFormat) ? "" : $"- {stringToFormat}";

    protected override async Task OnParametersSetAsync()
    {
        _productVariant = await ProductVariantsService.GetProductVariantById(ProductId, ProductVariantId);
    }
}
